*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:'DroidSans regular';
    src:URL('droid-sans.regular.ttf') format('truetype');
}
@font-face {
  font-family:'DroidSans bold';
  src: URL('droid-sans.bold.ttf') format('truetype');
}
@font-face {
  font-family:'Ardecode';
  src: URL('ARDECODE.ttf') format('truetype');
}
button{border: none;}
header{
    min-height: 90px;
    background-color: #2A2E33;
    overflow: hidden;
}
header h1{
    font-family: 'DroidSans bold';
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin: 21px 0px;
    font-size: 36px;
}
body{
    
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
#hotel{
    color: #FFFFFF;
}
#deluxe{
    color: #FFD700;
}
#epilogue{
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
    font-style: italic;
    float: left;
    font-size: 13px;
    margin: 34px 10px;

}
header ul{
    float: right;
    list-style: none;
}
header ul li{
    float: left;
        padding: 31px 18px;
    padding-bottom: 38px;
    transition: 0.3s;
}
header ul li a{
    text-decoration: none;
    font-family: 'DroidSans regular';
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
}
header ul :last-child li{
    padding-right: 0;
}
header ul li:hover {
    border-top: 2px solid #FFD700;
    background-color: #1E2329;
}
.hello1{
    width:50%;
    height:30px;
    margin:0 auto;
    align-content: center;
    padding-left: 120px;
    padding-top: 70px;
    padding-bottom: 30px;
    
}
#slider{
    background-color: #00CCFF;
    height: 450px;
    text-align: center;
    position: relative;
}
#hello{
    float:left;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 35px;
    letter-spacing: 2px;
    
}
#you_reached{
    float:left;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 35px;
    letter-spacing: 3px;
}
.hd{
    width:60%;
    margin: 0 auto;
    
}
#hyphen{
    color: white;
    letter-spacing: 5px;
    font-size: 8px;
}
#hd1{
   font-family: 'DroidSans bold'; 
   font-weight: 700;
    color: white;
    font-size: 70px;
}

#saloon{
    font-family: 'Quicksand',sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: white;
    margin-top: 30px;
    letter-spacing: 3.5px;
}
.selector{
    width:70%;
    height:100px;
    border: 1px solid black;
    background-color: #2A2E33;
    margin: 0 auto;
    margin-top: 80px;
}
.arrival{
    height: 100px;
    width: 25%;
    float: left;
    margin-right: 20px;
    text-align: center;
    
}
option, option selected{
    font-family: 'Quicksand';
    font-weight: 100;
    letter-spacing: 2px;
}
input placeholder{
    font-family: 'Quicksand';
    font-weight: 100;
}

.arrival>.form-group label {
    float: left;
    font-family: 'Quicksand';
    font-weight: 300;
    color: goldenrod;
    padding-left: 10px;
    font-size: 18px;
    margin-top: 11px;
    margin-left: 7px;
}
.form-group label{
    float: left;
    font-family: 'Quicksand';
    font-weight: 300;
    color: goldenrod;
    padding-left: 20px;
    font-size: 18px;
    margin-top: 11px;
}

select {
    border-radius: 10px;
    padding: 10px 25px;
    position: relative;
    color: gray;
    
    
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select:hover{
    
}
.arrival>.form-group button{
    float: left;
    position: absolute;
    top: -20;
    z-index: 10;
    margin: 52px -127px;
    background: transparent;
    border: none;

}
.room_type>.form-group button {
    float: left;
    position: absolute;
    top: -20;
    z-index: 10;
    margin: 46px 9px;
    background: transparent;
    border: none;
    width: 10px;
}

.departure>.form-group button{
    float: left;
    position: absolute;
    top: -20;
    z-index: 10;
    margin: 51px -145px;
    background: transparent;
    border: none;

}
.form-group input{
    border-radius: 10px;
    padding: 10px 22px;
    position: relative;
    margin: 5px 0px;
    float: right;
    position: relative;
}
.departure{
    height: 100px;
    width: 25%;
    float: left;
    text-align: center;
    margin-right: 23px;
}
.room_type{
    height: 100px;
    width: 25%;
    float: left;
    text-align: center;
    margin: 5px 0px;
}
.readmorebutton{
    float:left;
    width: 20%;
    
}
#view{
        float: right;
    padding: 7px 20px;
    background-color: #FFD700;
    font-family: 'Quicksand';
    font-weight: 600;
    color: black;
    font-size: 23px;
    margin: 27px 8px;
    border-radius: 4px;
}
#wall{
    width: 100%;
    margin:0 auto;
    min-height: 500px;
    background-image: url('belowslider.png');
    text-align: center;
    border-bottom: 2px solid #929496;
}
#wall h1{
    font-family: 'Ardecode';
    text-align: center;
    font-size: 54px;
    float: left;
    margin-top: 36px;
    margin-left: 347px;
}
#book{
    float: right;
    font-family: 'Quicksand';
    font-weight: 100;
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.credits{
    height: 100px;
    width: 70%;
    margin: 161px 188px;
    padding: 84px 0;
    position: absolute;
    
}
.left{
    float: left;
        margin: 59px 17px;
    transition: 0.5s;
}
.right{
    float: left;
    margin: 59px 17px;
    transition: 0.5s;
}
.credit_1{
    float: left;
    margin:0 20px;
    transition: 0.5s;
}
.credits div:hover{
    transform: scale(1.2);
}
.credit_2{
    float: left;
    margin:0 20px;
    transition: 0.5s;
}
.credit_3{
    float: left;
    margin:0 20px;
    transition: 0.5s;
}
.types{
    background-image: url('wall_02.png');
    background-size: cover;
    background-repeat: repeat;
    min-height: 776px;
    
}
.types>.wrapper h2{
    font-family: 'Ardecode';
    font-size: 40px;
    font-weight: 100;
    text-align: center;
     padding: 50px 0 40px 0;
}
.rooms{
    width:28%;
    margin: 16px 24px;
    float:left;
    text-align: center;
    
}
.rooms h1{
    font-family: "Quicksand";
    font-weight: 200;
    font-size: 23px;
}
.rooms p{
    font-family: "Quicksand";
    font-weight: 100;
    font-size: 12px;
    margin:10px 0;
}
.rooms img{
    width: 100%;
    margin:0 auto;
}
.rooms ul{list-style: none;}
.rooms ul li{float: left; }
.rooms ul li a{
    text-decoration: none;
    margin:21px 16px;
    color: black;
}

.yellow_footer{
    min-height: 205px;
    background: #E7CB2C;
}
.slogan{
    width:70%;
    min-height: 50px;
    float: left;
    margin-top: 50px;
}
.slogan h1{
    color: white;
    float: left;
    font-family: 'Quicksand';
    font-weight: 100;
    font-size: 39px;
    letter-spacing: 3px;
    margin-top: 20px;
    
}
.slogan p{
    color: white;
    float: left;
    font-family: 'Quicksand';
    font-weight: 100;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 12px;
}
.sil{
    width:30%;
    position: relative;
    
}
.sil img{
    float: left;
    width: 100%;
    transform: scale(1.07);
    margin-top: -119px;
    position: absolute;
}
.footer{
    background-color: #333333;
    min-height: 330px;
    border-bottom: 35px solid #1F1F1F;
}
.about{
    width:23%;
}
.footer h1{
    font-weight: 600;
    font-size: 18px;
}
.footer p{
    font-weight: 400;
    font-size: 10px;
    margin-top: 15px;
    letter-spacing: 2px;
    
}
#date{
    color: goldenrod;
    font-weight: 100;
    font-family: 'Quicksand';
    font-size: 10px;
    margin-bottom: 5px;
}
.about h1{
    
}
.about p{
}
.latest{
    width:18%;
}
.latest h1{
    margin-bottom: 10px;
}
.latest p{  
     margin-top: 0;
}
.join{
    width:28%;
    height: 280px;
}
.join h1{

}
.join p{  
     margin-top: 10px;
    font-size: 10px;
}
#para2{
    margin-top: 15px;
}
.common{
 
    min-height: 200px;
    float: left;
    margin-top: 40px;
    margin-right: 30px;
    font-family: 'Quicksand';
    color: white;
}
.members{
    margin-right: 0;
    float: right;
    width: 20%;
}
.join button{
    font-family: 'Quicksand';
    font-weight: 600;
    color: black;
    background-color: #E7CB2C;
    border-radius: 10px;
    margin-top: 20px;
    padding: 8px 23px;
}
.members label{
    color: white;
}
.members input{
    color: white;
    background-color: transparent;
    padding: 10px 25px;
    margin-top: 6px;
    border: 1px solid #1F1F1F;
    border-radius: 10px;
}
.members button{
    font-family: 'Quicksand';
    font-weight: 600;
    color: black;
    background-color: #E7CB2C;
    border-radius: 10px;
    margin-top: 40px;
    padding: 8px 23px;
}
